/* Styling of a single element on the pipeline */

.unit { 
    border:1px solid Green !important;
    min-width:6em;
    z-index:20;
    position:absolute;
    left: 200px;
    top: 100px;
    cursor: move;
}

.unit:hover {
    box-shadow: 1px 1px 19px #aaa;
    -o-box-shadow: 1px 1px 19px #aaa;
    -webkit-box-shadow: 1px 1px 19px #aaa;
    -moz-box-shadow: 1px 1px 19px #aaa;
    opacity:0.6;
    filter:alpha(opacity=60);
}

.unit h3 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.unit .panel-body {
    padding: 3px 3px;
    font-size:0.7em;
}

.unit .panel-heading {
    padding: 3px 6px 3px 6px;
    text-align: center;
}

.port {
    padding: 0.2em 0.5em;
}

.ports-in {
    float: left;
    width: 50%;
    text-align: left;
}

.ports-out {
    float: right;
    width: 50%;
    text-align: right;
}

.dropHover { border:1px solid orange; }
