<html>
  <head>
    <!--dependencies-->
    <script type="text/javascript" src="{{static_url('js/libs/jquery-2.1.1.min.js')}}"></script>
    <script type="text/javascript" src="{{static_url('js/libs/jquery-ui.min.js')}}"></script>
    <script type="text/javascript" src="{{static_url('js/libs/jquery.jsPlumb-1.5.5-min.js')}}"></script>
    <script type="text/javascript" src="{{static_url('js/libs/handlebars.min.js')}}"></script>
    <script type="text/javascript" src="{{static_url('js/libs/ember.min.js')}}"></script>
    <script type="text/javascript" src="{{static_url('js/libs/ember-data.min.js')}}"></script>
    <script type="text/javascript" src="{{static_url('js/libs/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{static_url('js/libs/bootstrap-dialog.min.js')}}"></script>

    <!-- application code-->
    <script type="text/javascript" src="{{static_url('js/app.js')}}"></script>
    <script type="text/javascript" src="{{static_url('js/models.js')}}"></script>
    <script type="text/javascript" src="{{static_url('js/views.js')}}"></script>
    <script type="text/javascript" src="{{static_url('js/controllers.js')}}"></script>
    <script type="text/javascript" src="{{static_url('js/adapters.js')}}"></script>
    <script type="text/javascript" src="{{static_url('js/draw_styles.js')}}"></script>

    <!--CSS-->
    <link rel="stylesheet" href="{{static_url('css/main.css')}}">
    <link rel="stylesheet" href="{{static_url('css/unit.css')}}">
    <link rel="stylesheet" href="{{static_url('css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{static_url('css/bootstrap-theme.min.css')}}">
    <link rel="stylesheet" href="{{static_url('css/bootstrap-dialog.min.css')}}">
  </head>
  <body>
    <script type="text/x-handlebars">
        <div class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">earlPipeline</a>
            </div>

            <ul class="nav navbar-nav">
                {{!#link-to "pipelines" tagName="li"}}
                    <a style="cursor:pointer" {{!bind-attr href="view.href"}}>Dashboard</a>
                {{!/link-to}}
                {{!#link-to "pipeline" App.currentPipeline tagName="li"}}
                    <a style="cursor:pointer" {{!bind-attr href="view.href"}}>Pipeline Constructor</a>
                {{!/link-to}}
            </ul>
        </div>

        {{!outlet}}
    </script>

    <script type="text/x-handlebars" data-template-name="pipelines">
        <div class="container">
            <h1>Pipelines</h1>
            <hr />
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{!#each itemController="pipeline"}}
                        <tr {{!bind-attr class="isRunning:info hasFailed:danger"}}>
                            <td>{{!id}}</td>
                            <td>{{!statusToString status}}</td>
                            <td align="center">
                                <div class="btn-group">
                                    <button class="btn btn-default" {{!action "clone"}}>Clone</button>
                                    <button class="btn btn-default" {{!action "rename"}}>Rename</button>
                                    {{!link-to 'Open' 'pipeline' id class="btn btn-primary"}}
                                </div>
                            </td>
                        </tr>
                    {{!/each}}
                </tbody>
            </table>
            <hr />

            {{!link-to 'New Pipeline' "pipelines.new" class="btn btn-primary"}}
            
        </div>

        {{!outlet}}
    </script>

    <script type="text/x-handlebars" data-template-name="pipelines/new">
        {{!view App.NewPipelineView}}
    </script>

    <script type="text/x-handlebars" data-template-name="pipeline">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-md-12">
                   {{!outlet meta-units}}
                   {{!outlet pipeline-controls}}
                </div>
            </div>
            <div class="row-fluid">
                {{!outlet pipeline-units}}
            </div>
        </div>
    </script>

    <script type="text/x-handlebars" data-template-name="meta-units">
        <div class="btn-group">
            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="glyphicon glyphicon-plus"></span> Add Unit <span class="caret"></span>
            </a>

            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                {{!#each groupedMetaUnits}}
                    <li class="dropdown-submenu">
                        <a style="cursor: pointer" tabindex="-1">{{!tag}}</a>
                        <ul class="dropdown-menu">
                            {{!#each contents itemController="metaUnit"}}
                                <li><a style="cursor: pointer" {{!action "addToPipeline"}}>{{!id}}</a></li>
                            {{!/each}}
                        </ul>
                    </li>
                {{!/each}}
            </ul>
        </div>
    </script>

    <script type="text/x-handlebars" data-template-name="pipeline-units">
        {{!! The main panel, containig interactive units}}
        <div class="col-md-9" id="pipeline-container">
            <div class="info-panel units-box" oncontextmenu="return false;">
                {{!#each node in nodes itemController="unit"}}
                    {{!view App.Item}}
                {{!/each}}
                {{!!loadConnections edges.content}}
            </div>
        </div>

        {{!! Results panel}}
        <div class="col-md-3">
            <div class="info-panel result-box" id="result-box">
                {{!view App.OutputView}}
            </div>
        </div>
    </script>

    <script type="text/x-handlebars" data-template-name="pipeline-output">
        <div class="result-header">
            <h3 style="margin-top: 13px">Status: 
                {{!#if isRunning}}
                    <font color="green">running</font>
                {{!else}}
                    {{!#if hasFailed}}
                        <font color="red">failed</font>
                    {{!else}}
                        <font color="grey">stopped</font>
                    {{!/if}}
                {{!/if}}
            </h3>
            <hr>
        </div>
        <div id="logging-window" class="result-content">
            {{!log_text}}
        </div>
    </script>


    <script type="text/x-handlebars" data-template-name="single-unit">
        <div class='panel-heading'>
            {{!view.controller.id}}
        </div>
    </script>

    <script type="text/x-handlebars" data-template-name="pipeline-controls">
        {{!#if isRunning}}
            <button class="btn btn-warning" {{!action "stop"}}>
                <span class="glyphicon glyphicon-stop"></span> 
                Stop
            </button>
        {{!else}}
            <button class="btn btn-primary" {{!action "run"}}>
                <span class="glyphicon glyphicon-play"></span> 
                Run
            </button>
        {{!/if}}
        <font size="4" class="ppl-name">{{!App.currentPipeline.id}}</font>

        <div class="pull-right">
            <button class="btn btn-default" {{!action "save"}}>
                <span class="glyphicon glyphicon-save"></span> 
                Save
            </button>
            <button class="btn btn-danger" {{!action "remove"}}>
                <span class="glyphicon glyphicon-remove"></span> 
                Delete
            </button>
        </div>
    </script>
  </body>
</html>
