<html>
  <head>
    <!--dependencies-->
    <script type="text/javascript" src="{{url_for('static', filename='js/libs/jquery-1.10.2.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/libs/jquery-ui-1.10.4.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/libs/jquery.jsPlumb-1.5.5.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/libs/handlebars.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/libs/ember.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/libs/ember-data.js')}}"></script>

    <!-- application code-->
    <script type="text/javascript" src="{{url_for('static', filename='js/app.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/models.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/views.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/controllers.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/adapters.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/draw_styles.js')}}"></script>

    <!--CSS-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/unit.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/ui-lightness/jquery-ui-1.10.4.custom.css')}}">
  </head>
  <body>
  {% raw %}
    <script type="text/x-handlebars">
    <div id="header">
        <h1>Pipeline Constructor</h1>
    </div>
    <div class="panel-left">
        {{outlet units}}
    </div>
    <div class="panel-right" id="pipeline-container">
        {{outlet pipeline}}
    </div>
    </script>

    <script type="text/x-handlebars" data-template-name="metaUnits">
        {{#each itemController="metaUnit"}}
            <div>
                {{id}}
                <button {{action "addToPipeline"}}>+</button>
            </div>
        {{/each}}
    </script>

    <script type="text/x-handlebars" data-template-name="pipeline">
        <div id="container" oncontextmenu="return false;">
            {{#each node in controller.nodes itemController="unit"}}
                {{view App.Item}}
            {{/each}}
            {{loadConnections controller.edges.content}}
        </div>

        <div id="result-box">
            {{view App.OutputView}}
        </div>

    </script>

    <script type="text/x-handlebars" data-template-name="pipeline-output">
        <button {{action "run"}}>Execute</button>
        <h3>Output:</h3>
        {{#if isRunning}}
            <img src="static/css/ajax-loader.gif">
        {{else}}
            {{#if executionResult}}
                <div style="white-space: pre-wrap;">{{executionResult}}</div>
            {{/if}}
        {{/if}}
    </script>

    <!--<script type="text/x-handlebars" data-template-name="pipelines">-->
        <!--{{#each ppl in controller}}-->
            <!--<div style="display: inline">{{#link-to 'pipeline' ppl}}{{ppl.name}}{{/link-to}}</div>-->
        <!--{{/each}}-->
    <!--</script>-->
  {% endraw %}
  </body>
</html>
